body{
    background-image: url(https://i.stack.imgur.com/N746um.png);
    background-size: auto 100vh;
    font-family: Arial;
  }
  
  .menu{
    background-color: yellow;
  }
  
  .menu ul{
    display: flex;
    justify-content: space-around;
  }
  
  .menu li{
    list-style: none;
  }
  
  a{
    color: red;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .site-title {
    color: black;
    text-align: center;
  }
  
  .site-subtitle {
    color: black;
    text-align: center;
  }